// >> Quartzxv Niri Config 

// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview


// Input device configuration. // https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    keyboard {
        xkb {
            // You can set rules, model, layout, variant and options.
            // For more information, see xkeyboard-config(7).

            // For example:
            // layout "us,ru"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
        }
    }

    // Next sections include libinput settings.
    // Omitting settings disables them, or leaves them at their default values.
    touchpad {
        // off
        tap
        // dwt
        // dwtp
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    // focus-follows-mouse max-scroll-amount="0%"
}



// You can configure outputs by their name, which you can find by running `niri msg outputs` while inside a niri instance.
// The built-in laptop monitor is usually called "eDP-1".
// Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
// Find more information on the wiki: https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
// Remember to uncomment the node by removing "/-"!

// >> External Monitor Left + Laptop Right Setup
// >> (Un)Comment accordingly

output "eDP-1" {
    
    mode "1920x1080@60.002"

    scale 1.25

    // >> Laptop only
    // position x=0 y=0

    // >> External monitor setup
    position x=1920 y=0
}

output "HDMI-A-1"{

    mode "1920x1080@100.000"

    position x=0 y=0
}


// Settings that influence how windows are positioned and sized. // https://github.com/YaLTeR/niri/wiki/Configuration:-Layout

layout {

    gaps 12

    center-focused-column "on-overflow"

    // You can customize the widths that "switch-preset-column-width" (Super+R) toggles between.
    preset-column-widths {
        
        // \\ proportion [fraction of screen] 

        proportion 0.25
        proportion 0.33333
        proportion 0.5
        proportion 0.66667

        // >> Defaults are good 

        // \\ fixed [logical pixel count]
    }

    // You can change the default width of the new windows.
    default-column-width { proportion 0.5; }
    // If you leave the brackets empty, the windows themselves will decide their initial width.
    // default-column-width {}

    // By default focus ring and border are rendered as a solid background rectangle
    // behind windows. That is, they will show up through semitransparent windows.
    // This is because windows using client-side decorations can have an arbitrary shape.
    //
    // If you don't like that, you should uncomment `prefer-no-csd` below.
    // Niri will draw focus ring and border *around* windows that agree to omit their
    // client-side decorations.
    //
    // Alternatively, you can override it with a window rule called
    // `draw-border-with-background`.

    // You can change how the focus ring looks.

    // >> Prefer focus rings only, no borders

    focus-ring {

        width 4
        
        active-color "#00c4a8"
        // active-gradient from="#00ecc4" to="#720072" angle=135
        
        inactive-color "#606060"
        // inactive-gradient from="#505050" to="#808080" angle=45 // relative-to="workspace-view"        
    }

    struts {
        left 16
        right 16
        // top 8
        // bottom 64
    }
}

// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.
// spawn-at-startup "alacritty" "-e" "fish"

// spawn-at-startup "swaybg" "-i" "~h/.config/background"
// spawn-at-startup "waybar"

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some rounded corners.
prefer-no-csd

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Animation settings.
// The wiki explains how to configure individual animations:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

binds {

    // >> Super as Mod key , Alt as modifier key
    // Keys consist of modifiers separated by + signs, followed by an XKB key name in the end. To find an XKB name for a particular key, you may use a program like wev.
    // Most actions that you can bind here can also be invoked programmatically with
    // `niri msg action do-something`.

    // Super-Shift-/, which is usually the same as Super-?, shows a list of important hotkeys.
    Super+Shift+Slash { show-hotkey-overlay; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Super+T { spawn "alacritty"; }
    Super+Space {spawn "fuzzel";}
    Super+Alt+Backspace { spawn "swaylock"; }

    // >> "Panel / Taskbar / Dock" apps
    Super+1 { spawn "nautilus"; }
    Super+2 { spawn "flatpak" "run" "com.vscodium.codium";}
    Super+3 { spawn "flatpak" "run" "io.gitlab.librewolf-community"; }
    Super+4 { spawn "flatpak" "run" "io.gitlab.librewolf-community" "--private-window"; }
    Super+5 { spawn "firefox"; }
    Super+6 { spawn "flatpak" "run" "one.ablaze.floorp"; }

    // You can also use a shell. Do this if you need pipes, multiple commands, etc.
    // Note: the entire command goes as a single argument in the end.
    // Mod+T { spawn "bash" "-c" "notify-send hello && exec alacritty"; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    Alt+XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SOURCE@" "0.05+"; }
    Alt+XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SOURCE@" "0.05-"; }

    // Setup for brightness up
    // XF86MonBrightnessUp { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01+"; }
    // Setup for brightness down
    // XF86MonBrightnessDown { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01-"; }

    Super+Q { close-window; }

    Super+Left    { focus-column-left; }
    Super+Down    { focus-window-down; }
    Super+Up      { focus-window-up; }
    Super+Right   { focus-column-right; }

    Super+Ctrl+Left  { move-column-left; }
    Super+Ctrl+Down  { move-window-down; }
    Super+Ctrl+Up    { move-window-up; }
    Super+Ctrl+Right { move-column-right; }

    Super+BracketLeft   { focus-column-first; }
    Super+BracketRight  { focus-column-last; }
    Super+Ctrl+BracketLeft  { move-column-to-first; }
    Super+Ctrl+BracketRight { move-column-to-last; }

    Super+Shift+Left  { focus-monitor-left; }
    Super+Shift+Right { focus-monitor-right; }

    Super+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    Super+Shift+Ctrl+Right { move-window-to-monitor-right; }

    // >> Using Up|Down controls with workspaces in this context is more intuitive than using Super+[number], thus just use Super+Page_Up|Down to navigate 

    Super+Page_Down      { focus-workspace-down; }
    Super+Page_Up        { focus-workspace-up; }
    Super+Ctrl+Page_Down { move-window-to-workspace-down; }
    Super+Ctrl+Page_Up   { move-window-to-workspace-up; }

    Super+Shift+Page_Down { move-workspace-down; }
    Super+Shift+Page_Up   { move-workspace-up; }

    Super+WheelScrollDown       cooldown-ms=200 { focus-workspace-down; }
    Super+WheelScrollUp         cooldown-ms=200 { focus-workspace-up; }
    Super+Ctrl+WheelScrollDown  cooldown-ms=200 { move-column-to-workspace-down; }
    Super+Ctrl+WheelScrollUp    cooldown-ms=200 { move-column-to-workspace-up; }

    Super+Shift+WheelScrollDown         cooldown-ms=200 { focus-column-right; }
    Super+Shift+WheelScrollUp           cooldown-ms=200 { focus-column-left; }
    Super+Ctrl+Shift+WheelScrollDown    cooldown-ms=200 { move-column-right; }
    Super+Ctrl+Shift+WheelScrollUp      cooldown-ms=200 { move-column-left; }

    Super+Comma  { consume-or-expel-window-left; }
    Super+Period { consume-or-expel-window-right; }

    Super+R { switch-preset-column-width; }
    Super+Shift+R { reset-window-height; }
    Super+F { maximize-column; }
    Super+Shift+F { fullscreen-window; }
    Super+C { center-column; }

    // >> You're 'holding' the right and bottom borders 
    // >> tbh just adjust w/ mouse
    Super+J { set-column-width "-10%"; }
    Super+L { set-column-width "+10%"; }
    Super+I { set-window-height "-10%"; }
    Super+K { set-window-height "+10%"; }

    Print { screenshot; }
    Super+Shift+S { screenshot; } // >> Windows Shortcut
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Super+Shift+E { quit; }

    // Powers off the monitors. To turn them back on, do any input like moving the mouse or pressing any other key.
    Super+Shift+P { power-off-monitors; }
}
